<nav class="grey darken-4">
  <div class="nav-wrapper container">
    <a href="/dashboard" class="brand-logo center">Story Book</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"
      ><i class="material-icons">menu</i></a
    >
    <ul class="sidenav" id="mobile-demo">
      <li class="sidenav-header grey darken-4">
        <div class="row center">
          <div class="col s12 container center">
            <img
              src="<%= photo %>"
              width="68px"
              height="68px"
              alt="profile-image"
              class="circle responsive-img valign profile-image center"
            />
          </div>
          <div class="col s12 container">
            <h4 class="header-title">Aman Dhurwey</h4>
          </div>
        </div>
      </li>
      <li><a href="/story/all">Explore other Stories</a></li>
      <li><a href="/dashboard">My Stories</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
