<div class="section">
  <h3>Story Book</h3>
  <p>Share your story with the world</p>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col s4">
    <i class="fas fa-book-open icon"></i>
    <p>Write your stories in an easy to write notepad</p>
  </div>
  <div class="col s4">
    <i class="fas fa-users icon"></i>
    <p>Follow the writers that match your jonar around the world</p>
  </div>
  <div class="col s4">
    <i class="fas fa-pen-fancy icon"></i>
    <p>Expand your creativity with writing</p>
  </div>
</div>
<div class="divider"></div>
<h6>You are one step away with your first Story</h6>
<a
  class="waves-effect waves-light btn login-btn red darken-1"
  href="/auth/google"
>
  <i class="material-icons right">
    login
  </i>
  Login WIth Google
</a>
