<div class="row">
  <div class="s12">
    <div class="row">
      <div class="s12">
        <h1 class="center"><%= story.title %></h1>
        <span class="center">By <%= story.author.displayName %></span>
        <span class="center"
          >, <%= helper.formatDate(story.createdAt,'MMM Do YYYY') %></span
        >
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="s12 story-body">
    <%- story.body %>
  </div>
</div>
